body { 
background-image: url("BACKGROUND2.png");
background-repeat: no-repeat;
}

p {
  padding-left: 4cm;
  font-family: 'Libre Baskerville', serif;
  line-height: 5px;
  letter-spacing: 1px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.titles {
  padding-top: .5cm;
  color: black;
}
	
.side {
	padding-top: 4.5cm;
	position: fixed;
	}
	
	a {
  text-decoration: none;
  color: white;
}

a:hover {
	color: gray;
	}

.monkey {
	padding-top: 5cm;
	padding-left: 5cm;
	font-size: 30px;
	color: black;
}

#wrap {
	width: 28cm;
}
#sidebar {
	width: 3cm;
	float: left;
}

#linkspart {
	padding-top: 25.5cm;
	padding-left: 4cm;
}

#linkspartxa {
	padding-top: 10cm;
	padding-left: 4 cm;
	}
.links {
padding-top: 13.3cm;
}

#photoshop {
	padding-top: 12cm;
	width: 22cm;
}

#check {
  border: 1px solid white;
  width: 310px;
}

.link {
	padding-left: 6 cm;
	padding-top: 3 cm;
	}

	.linkxa {
	padding-left: 6m;
	padding-top: 1cm;}
li {
display: inline
margin-right: 70 px
M}

.background {
	padding-top: 6cm;
	padding-left: 8.6cm;

}

.mainpage {
color: #000000;
padding-top: 6cm;
padding-left: 10cm;

}
.mainpage2 {
color: #000000;
text-align: center;
padding-top: 5px;
clear:right;
}
.mainpage3 {
color: #000000;
padding-top: 6cm;
padding-left: 15cm;

}
