body { 
background-image: url("BACKGROUND2.png");
background-repeat: no-repeat;
}

p {
  padding-left: 4cm;
  font-family: 'Libre Baskerville', serif;
  line-height: 5px;
  letter-spacing: 1px;
  color: white;
  font-size: 22px;
}

.titles {
  padding-top: .5cm;
  color: black;
}

.side {
	padding-top: 4cm;
	}
	
	a {
  text-decoration: none;
  color: white;
}

a:hover {
	color: gray;
	}

.monkey {
	padding-top: 5cm;
	padding-left: 5cm;
	font-size: 30px;
	color: black;
}

#check {
  border: 1px solid white;
  width: 310px;
}

li {
display: inline
margin-right: 70 px
M}

img {
padding-top: 6cm;
padding-left: 8.6cm;
}
